<h1>Handlebars Login page</h1>
<div id="login_fields">
  <form action="/api/login" method="post">
    <div id="username">
      <label for="user">Username: </label>
      <input type="text" id="user" />
    </div>
    <div id="password">
      <label for="pass">Password: </label>
      <input type="password" id="pass" />
    </div>
    <input type="submit" value="Log In" id="login" class="btn btn-success"/>
  </form>
</div>
<a id="register" href="/#/register">Register new user</a>
