<h1>Handlebars Register new user</h1>
<div id="register_fields">
  <form action="/api/register" method="post">
    <div id="user">
      <label for="username">Username: </label>
      <input type="text" id="username" />
    </div>
    <div id="email_address">
      <label for="email">Email: </label>
      <input type="text" id="email" />
    </div>
    <div id="pass">
      <label for="password">Password: </label>
      <input type="password" id="password" />
    </div>
    <div id="verify_password">
      <label for="verify">Password (again): </label>
      <input type="password" id="verify" />
    </div>
  <input type="submit" value="Register" id="addUser" class="btn btn-success"/>
  </form>
</div>
