<h1>Register new user</h1>
<div id="register_fields">
  <div id="username">
    <label for="user">Username: </label>
    <input type="text" id="user" />
  </div>
  <div id="email_address">
    <label for="email">Email: </label>
    <input type="text" id="email" />
  </div>
  <div id="password">
    <label for="pass">Password: </label>
    <input type="password" id="pass" />
  </div>
  <div id="verify_password">
    <label for="verify">Password (again): </label>
    <input type="password" id="verify" />
  </div>
</div>
<button id="submit" class="btn btn-success">Submit</button>
